@font-face {
  font-family: "pp-sans-big-light";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.woff");
}

@font-face {
  font-family: "pp-sans-big-regular";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.woff");
}

@font-face {
  font-family: "pp-sans-big-medium";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Medium.woff");
}

@font-face {
  font-family: "pp-sans-small-bold";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Bold.woff");
}

@font-face {
  font-family: "pp-sans-small-regular";
  src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansSmall-Regular.woff");
}

#header_buttons{
  height: 50px;
  padding-top: 8px;
}

#background_image{
  background-image: url("images/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 750px;
  margin-top: -90px;
  line-height: 50px;
  z-index: -1;
}

#nav_main{
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  border-color: rgba(110, 110, 113, 0.5);
  height: 5px;
}

#list_nav_main{
  font-family: "pp-sans-big-medium";
  font-weight: 300;
  color: white;
}

@media(max-width: 768px){
  #list_nav_main{
    background-color: rgb(110,115,134);
  }
}

#list_nav_main li a{
  color: #FFF;
}

#list_nav_main a:hover{
  border-bottom: 3px solid white;
}

a{
  outline-style: none;
}

#partie1_paypal_logo{
  margin-left: 35px;
}

/* Boutons */
#button_connexion, #button_open_account, #button_connexion2{
  font-family: "pp-sans-big-medium";
  border-radius: 25px;
}

#button_open_free_account, #button_professionel{
  font-family: "pp-sans-small-bold";
  font-size: 15px;
  border-radius:  25px;
}

#button_connexion {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

#button_connexion a{
  color: #FFF;
}

#button_connexion2 {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

#button_connexion2 a{
  color: #FFF;
}

#button_open_account {
  background-color: #FFFFFF;
}

#button_open_account a{
  color: black;
}

#button_open_free_account a{
  color: #FFF;
}

.btn-primary{
  border: 0;
  background-color: #0070BA;
}

.btn-primary:hover{
  background-color: #005EA6;
  border: 0;
  color: #E6E6E6;
}

#button_professionel {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

#button_professionel a{
  color: #FFF;
}

#background_image .btn{
  line-height: 40px;
}

/* " Le paiement en ligne ... " */
#paypal_description{
  margin-top: 150px;
  color: #fff;
  font-family: "pp-sans-big-light";
  font-size: 40px;
}

@media(max-width: 400px){
  #paypal_description{
    font-size: 30px;
  }
}

#blank{
  height: 20px;
}

#titre{
  margin-top: 75px;
  margin-right: 60px;
}

.texte{
  margin-top: 50px;
  padding-left: 4%;
  padding-right: 4%;
}

#cf{
  font-family: "pp-sans-big-regular";
  color: #0070ba;
  width: 50px;
}

#partie2_navbar .navbar{
  padding: 0.5%;
}

.home{
  margin-right: 8%;
}

h2{
  font-family:"pp-sans-big-light";
  font-size: 40px;
  padding-left: 9%;
}

h3{
  font-family: "pp-sans-big-light";
  font-size: 20px;
}

p{
  font-family: "pp-sans-big-regular";
  font-size: 15px;
}

#font p{
  font-family: "pp-sans-small-regular";
  font-size: 16px;
}

#menu a:hover{
  text-decoration: underline;
  color: #0770BB;
}

#menu a{
  color: #444;
}

#marge{
  margin: 0;
}

/* Partie 3 */

.avantage{
  background-image:radial-gradient(ellipse at center, #0099DC, #00499B);
  color: white;
  padding: 20px ;
}
.avantage a{
  color: white;
  font-size: 15px;
  font-family: "pp-sans-small-bold";

}
.detail{
  margin: 30px;
}
.avantage h2{
  font-size: 40px;
  font-family: "pp-sans-big-light";
}
.partie3_text{
  margin: 20px;
}
.partie3_text span{
  font-family: "pp-sans-big-regular";
  font-size: 16px;
}

#partie3_marge{
  margin-top: 100px;
}

.element{
  margin-bottom: 50px;
  padding: 25px;
}
.element span{
  font-size: 15px;
  font-family: "pp-sans-small-regular";
}
.element h4{
  font-size: 20px;
  font-family: "pp-sans-big-light";
}
#condition{
  margin-top: 0px;
}
#precond{
  margin-bottom: 0px;
}
.image{
  margin-bottom: -30px;
}
@media (max-width:768px) {
  .element{
    padding: 0px;
  }
  .element div{
    margin-left: 0px;
    margin-bottom: 25px;
  }
  .element h4{
    font-size: 20px;
    margin-left: 0px;
  }
  .element span{
    font-size: 15px;
    margin-left: 0px;
    float: left;
  }
}
.bottom-footer{
  font-size: 11px;
  margin-bottom: 30px;
  border-top: dashed 1px grey;
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

footer a {
  color: grey;
}

#flag_fr{
  float: right;
  height: 20px;
  width: 26px;
}

.shop8 h2{
  font-family: "pp-sans-big-light", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  line-height: 1.25;
  font-size: 40px;
  font-size: 2.8em;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: #2c2e2f;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.shop3 img{
  border: 0;
  max-width: 100%;
}
.containerCentered{
  margin-right: auto;
  margin-left: auto;
  padding-left: 3%;
  padding-right: 3%;
}
.center-text{
  text-align: center;
}
.center-block{
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.pullout{
  padding: 90px 0;
  margin: auto;
}
.shop-row-fluid{
  background: #fff;
  position: relative;
  z-index: 2;
  transform: translate(0, 0);
  width: 100%;
  box-sizing: border-box;
}
.shop-row-fluid .shop8{
  width: 66%;
}
.pulloutPara{
  font-size: 16px;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding-top: 25px;
  padding-bottom: 35px;
}
.light{
  background-color: #f7f9fa;
  color: #666;
}
#closing-shop-section{
  padding: 90px 0;
  margin-bottom: 150px;
}
.shop-panel-img{
  margin: auto;
  display: block;
}
.shop-row-fluid .shop12{
  width: 100%;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  font-size: 1.2em;
}
.headline{
  font-family: "pp-sans-big-light", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  line-height: 1.25;
  color: #2c2e2f;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.large{
  font-size: 1.7em;
  letter-spacing: 0.01em;
}
.shop12 .btn{
  font-family: "pp-sans-small-regular";
  padding: 9px 0 10px 0;
  border-radius: 25px;
  font-size: 0.9em;
  line-height: 1.5;
  background: #0070ba;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
}
.closing-cta {
  min-width: 300px;
  width: 30%;
  margin-top: 28px;
}
